

header{
    background-color: blueviolet;
    height: 150px;
}

#contenedor{
    height: auto;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    }
    

    .cajas{
        background-color: aliceblue;
        height: 200px;
        margin: 5px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }
    p{
        font-size: 20px;
    }




@media screen and  (min-width: 200px) and (max-width: 400px){

    body{
        background-color: black;

    }
    header{
        background-color: rgba(0, 225, 255, 0.781);
        height: 150px;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #contenedor{
        height: auto;
        background-color: rgba(247, 0, 255, 0.965);
        display: flex;
        flex-wrap: wrap;
        }
        

        .cajas{
            background-color: aliceblue;
            height: 200px;
            margin: 5px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }
        p{
            font-size: 15px;
        }
}

@media screen and  (min-width: 401px) and (max-width: 601px){

    body{
        background-image: url('../elite-knight-igris-solo-leveling-thumb.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    header{
        background-color: rgba(43, 137, 226, 0.738);
        height: 150px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #contenedor{
        height: auto;
        background-color: rgba(166, 0, 255, 0.458);
        display: flex;
        flex-wrap: wrap;
        }
        

        .cajas{
            background-color: aliceblue;
            height: 200px;
            margin: 5px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            border: 2px solid white;
            border-radius: 30%;
        }
        p{
            font-size: 15px;
        }
}